<div class="row">
    <div class="col s12 m8 l6 offset-m2 offset-l3">
        <div class="card card-home">
            <div class="card-content">
                <p>
                    Ever wonder what it would be like to have a friend? Do you sit at home and consume
                    large amounts of sugar to appease your loneliness? We have the answer! Click the button
                    below, and soon, you will be sharing that loneliness (and sugar!) with someone just like you!
                </p>

                <div class="card-action center-align">
                    <a class="waves-effect waves-light btn-large blue yellow-text find-btn" href="/survey">Find a
                        Friend!</a>
                </div>
            </div>
        </div>
    </div>
</div>