body {
    background-image: url('../img/friends.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-color: #424242;
}

a {
    font-family: 'Fredericka the Great', cursive;
}

.img-header {
    padding: 30px 30px;
    margin: 0px 0px;
    font-size: 75px;
    text-align: center;
    font-family: 'Fredericka the Great', cursive;
}

.card-home {
    margin-top: 300px;
}

.card {
    background-color: rgba(187, 222, 251, .85)
}
